@import '../scss/variables';

.task-input {
   border: 0;
   width: 100%;
   padding: 9px 13px;
   outline: none;
   border: 1px solid transparent;
   border-radius: 5px;
   background-color: transparentize($color: $color-tertiary, $amount: 0.8);
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.482);

   &::placeholder {
      color: transparentize($color: $color-tertiary, $amount: 0.3);
   }

   &:focus {
      border-color: transparentize($color: $color-tertiary, $amount: 0.8);
   }
}